#bgg {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(64, 241, 79), white);
}

* {
    margin: 0;
    padding: 0;
}

tbody {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to bottom right, rgb(93, 255, 93), rgb(244, 255, 242));
}

thead {
    text-shadow: 0 0 3px #fafafa, 0 0 20px #80e46c;
    font-family: chalkduster, fantasy;
    font-size: 20px;
    background-image: linear-gradient(to right, #14a00f, rgb(108, 209, 99));
    ;
}

.table-hover tbody tr:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    background-color: #4bc704;
    border: solid;
    border-color: #1aaf1a;
}

#panel,
#flip {
    padding: 15px;
    text-align: center;
    font-family: chalkduster, fantasy;
}

#panel {
    text-align: unset;
    font-family: fantasy;
    padding: 10px;
    display: none;
    background-image: linear-gradient(#5bd42a, rgb(224, 255, 206));
    border-radius: 15px;
    border: solid;
    border-color: #ffffff;
}

.button {
    display: inline-block;
    padding: 5px 55px;
    font-family: Chalkduster, fantasy;
    text-shadow: 0 0 3px #000000, 0 0 20px #25cf6c;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(253, 253, 253);
    background-color: #289628;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(223, 214, 214);
}

.button:hover {
    background-color: #a1ff0ab2
}

.button:active {
    background-color: #0ce20c;
    box-shadow: 0 5px rgb(25, 114, 37);
    transform: translateY(4px);
}

label {
    color: #000000;
}

#title {
    background-image: url(https://i.pinimg.com/originals/6c/7d/3b/6c7d3b8bf1d809ab0d56326eadd16006.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-shadow: 0 0 3px #000000, 0 0 20px #ff0000;
    text-align: center;
    font-size: 55px;
    color: #19d128;
    font-family: Jazz LET, fantasy;
    border-radius: 15px;
    border: 5px solid rgb(141, 253, 37);
}

#myTable {
    overflow: auto;
    border: solid;
    border-color: #0ce20c;
}

#scrollbar {
    height: 400px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(72, 255, 0);
    border-radius: 100%;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(24, 194, 47);
    border-radius: 100px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #5eff2d;
}